// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

@import 'variables';
@import 'box-sizing';
@import 'base';
@import 'form';

.modal-container {
  display: flex;

  position: fixed;

  // comeback and adjust //
  top: 10%;
  right: 10%;

  flex-direction: column;
  width: 75%;
  margin: auto;

  background: $card-background;
  color: $input-color;
  box-shadow: $brand-shadow;
}

.card_title {
  margin: $gutter;
  padding-top: 1rem;
  font-size: 1rem;
}


.card_actions {
  display: flex;
  justify-content: flex-end;
}

.form_button {
  padding: 1rem 2rem;

  margin: 2rem;

  color: $card-background;
  font-size: 1.2rem;
}
