// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

@import 'variables';
@import 'box-sizing';
@import 'base';
@import 'form';

.modal-container {
  display: flex;




  // comeback and adjust //


  flex-direction: column;
  width: 75vw;
  // height: 75vh;
  margin: $gutter;

  background: $card-background;
  color: $input-color;
  box-shadow: $brand-shadow;



}

.card_title {
  margin: $gutter;
  padding-top: 1rem;
  font-size: 1.5rem;

  flex-grow: 1;
}


.card_actions {
  display: flex;
  justify-content: flex-end;

}

.form_button {
  margin: 1rem;
  padding: 1.2rem 2rem;


  color: $card-background;
  font-size: 1.2rem;
  font-weight: bold;
}
